

@media screen and (max-width:1440px){
	.mat-content {
	    margin: 0px -24%;
	}
	.wr-mat-content .prev-click, .wr-mat-content .next-click {
	    width: 6.5%;
	}
}


@media screen and (max-width:1400px){
	.mat-content {
	    margin: 0px 2.4%;
	}
	.wr-mat-content .prev-click, .wr-mat-content .next-click {
	    width: 4.7%;
	}
}



@media screen and (max-width:1366px){
	h1, .title {
	    font-size: 46px;
	    margin-bottom: 60px;
	}
	.ht-distance {
	    padding: 50px 0;
	}
	.wr-sale-banner {
	    margin: 50px 0;
	}
	.sale-banner .sale-title {
	    font-size: 30px;
	}
	.mat-content .item a.item-title {
	    font-size: 21px;
	}
	.mat-navigate ul li {
	    font-size: 13px;
	    padding: 20px 35px 20px 20px;
	}
	.mat-navigate {
	    margin-bottom: 70px;
	}
	.wr-mat-content {
	    margin-bottom: 100px;
	}
	.articles-field .item .text .tlt,
	.events__link {
	    font-size: 27px;
	}
	.wr-access {
	    margin: 50px 0;
	    padding: 100px 0;
	}
	.access .item .item-title {
	    font-size: 22px;
	}
	.events__date {
	    font-size: 34px;
	    margin-bottom: 20px;
	}
	.event__address {
	    font-size: 15px;
	    margin-bottom: 10px;
	}
	.wr-footer {
	    margin-top: 50px;
	}

}

@media screen and (max-width:1250px){
	.alive__line {
	    margin-bottom: 40px;
	}
	.events__wr-item {
	    margin-bottom: 60px;
	}
	.sale-banner .sale-title {
	    width: 47%;
	}
	.sale-banner .sale-btns a.btn_action {
	    padding: 17px 35px;
	    font-size: 11px;
	}
	.sale-banner .sale-btns a.btn {
	    margin-right: 30px;
	    padding: 16px 35px;
	    font-size: 11px;
	}
	.btn span {
	    font-size: 11px;
	}
	
}


@media screen and (max-width:1200px){
	.mat-content {
	    margin: 0px -1%;
	}
	.video-field {
	    max-height: initial;
	}
	.video-inner {
	    width: 100%;
	    margin-bottom: 40px;
	}
	.video-inner a.full-img img {
	    width: 100%;
	}

	.video-list{
		width: 100%;
		display: -ms-flexbox;
	    display: -webkit-flex;
	    display: flex;
	    -webkit-flex-direction: row;
	    -ms-flex-direction: row;
	    flex-direction: row;
        -webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	    -webkit-align-content: stretch;
	    -ms-flex-line-pack: stretch;
	    align-content: stretch;
	    -webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
	.video-list .item {
	    width: 48%;
	}
	.audio-field .item .text-area {
	    padding: 20px 0px 20px 30px;
	    margin-right: 20px;
	}
	.audio-field .item .text-area a.tlt {
	    font-size: 19px;
	}
	.audio-field .item .text-area .descrip .descrip_side1 {
	    font-size: 18px;
	}
	.articles-field .item .text .tlt, .events__link {
	    font-size: 24px;
	}
}

@media screen and (max-width:1100px){
	.articles-field .item {
		-webkit-align-items: center;
	    -ms-flex-align: center;
	    align-items: center;
	}
}

@media screen and (max-width:960px){
	.buttonMenu{
		display:block;
	}
	.show_menu header nav .menu_container {
		left: 0;
	}
	header .top_container .email{
		display:none;
	}
	header nav .menu_container {
		position: fixed;
		top: 0;
		width: 100%;
		height: 100vh;
		left: -100%;
		bottom: 0;
		z-index: 99;
		background: rgba(0, 0, 0, 0.33);
		transition: .3s all;
	}
	header nav .menu_container .close, 
	header nav .menu_container .close:before {
		width: 55px;
		height: 55px;
		background: #121212;
		content: "";
		display: block;
		right: 0;
		top: 0;
		position: absolute;
		z-index: 1;
	}
	header nav .menu_container .close:before {
		width: 24px;
		height: 22px;
		background: url(../images/close.svg) no-repeat 50% 50%;
		background-size: contain;
		margin: 16px;
		z-index: 2;
	}
	header nav .menu_container .menu_wrapper {
		position: absolute;
		top: 0;
		left: 0;
		right: 55px;
		bottom: 0;
		background: #fff;
		overflow: auto;
		/*padding: 15px 15px 205px;*/
	}
	header nav ul, 
	header nav ul li{
		width:100%;
		margin:0;
	}
	header nav ul li a{
		border-bottom:1px solid #dbe0e2;
		padding-left:0;
		padding-right:0;
		position: relative;
	}
	header nav ul li a:hover{
		background:none;
	}
	body.show_menu {
		overflow: hidden;
	}
	header nav .menu_container .menu_wrapper .footer{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		background:#fff;
		padding:15px 15px 0;
		display:block;
	}
	header nav .menu_container .menu_wrapper .footer a{
		padding:0;
	}
	header nav .menu_container .menu_wrapper .footer .phone{
		font-size:20px;
	}
	header nav .menu_container .menu_wrapper .footer .email{
		margin: 10px 0 20px;
		text-transform:none;
	}
	header nav .menu_container .menu_wrapper .footer .btn{
		padding:5px 15px;
	}
	header nav .menu_container .menu_wrapper .footer .bottom_line{
		background:#eee;
		color:#767676;
		margin-left:-15px;
		margin-right:-15px;
		margin-top:20px;
		padding:8px 15px;
		font-size:12px;
	}

	header nav .menu_wrapper .menu_wrapper_inner {
	    position: relative;
	    padding: 15px 15px 205px;
	    min-height: 100vh;
	    box-sizing: border-box;
	}

	header nav .menu_wrapper ul li.menu-item-has-children ul{
    	position: static;
	    margin-top: 0;
	    opacity: 1;
	    background: #fff;
	    padding: 0;
	    border-radius: 0;
	    min-width: auto;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a:after {
	    content: "";
	    display: block;
	    width: 9px;
	    height: 10px;
	    position: absolute;
	    top: 50%;
	    margin-top: -5px;
	    right: 10px;
	    background: url(../images/right-arrow.svg) no-repeat 0 0;
	    background-size: contain;
	    -moz-transform: rotate(90deg);
	    -ms-transform: rotate(90deg);
	    -webkit-transform: rotate(90deg);
	    -o-transform: rotate(90deg);
	    transform: rotate(90deg);
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li.menu-item-has-children > a.rotate:after {
	    content: "";
	    -moz-transform: rotate(270deg);
	    -ms-transform: rotate(270deg);
	    -webkit-transform: rotate(270deg);
	    -o-transform: rotate(270deg);
	    transform: rotate(270deg);
	    transition: .3s all;
	    margin-left: -3px;
	    margin-top: -7px;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul > li > ul {
	    opacity: 1;
	    box-shadow: none !important;
	    display: none;
	    transition: .3s all;
	}
	header nav .menu_wrapper ul li ul.sub-menu li {
	    overflow: initial;
	}
	header nav .menu_wrapper ul li ul.sub-menu li a{
	    padding: 15px 25px;
	}


	.audio-field .item {
	    width: 100%;
	}
	.audio-field .item .short-img img {
	    width: 100%;
	}
	.access .item .item-title {
	    font-size: 20px;
	    height: 55px;
	}
	.events__date {
	    font-size: 29px;
	}
	.events__wr-item {
	    margin-bottom: 40px;
	}

}

@media screen and (max-width:900px){
	.articles-field .item{
	    margin-bottom: 15px;
	}  
	.articles-field .item .wr-text {
	    border-top: none;
	    border-bottom: none;
	}
	.articles-field .item .text .tlt, .events__link {
	    font-size: 21px;
	}

	.articles-field .item a.img {
	    width: 33.488%;
	    margin-right: 4%;
	}
	.articles-field .item .text .tlt, .events__link {
	    font-size: 21px;
	}
	.articles-field .item .text .info-detail .identity .info-txt .name {
	    font-size: 13px;
	}
	.info-detail .identity .info-txt .price .new {
	    font-size: 18px;
	}
	.info-detail .identity .info-txt .price .old {
	    font-size: 18px;
	}
}

@media screen and (max-width:800px){
	.events__item {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.events__dates,
	.events__image,
	.events__info {
		width: 100%;
		margin-bottom: 30px;
	}
	.events__info {
		margin-bottom: 0;
	}
}

@media screen and (max-width:768px){
	.mat-content {
	    margin: 0px -2%;
	}
}

@media screen and (max-width:750px){
	.video-list .item {
	    width: 100%;
	}
	.articles-field .item {
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.articles-field .item a.img {
		width: 100%;
	    margin-right: 0;
	}
	.articles-field .item a.img img {
	    width: 100%;
	}
	.articles-field .item .wr-text {
	    width: 100%;
	}
	.articles-field .item .text .tlt {
	    margin-bottom: 20px;
	}
	.info-detail .identity {
	    -webkit-justify-content: space-between;
	    -ms-flex-pack: justify;
	    justify-content: space-between;
	}
}


@media screen and (max-width:700px){

	.mat-content {
		width: 100%;
	    max-width: 1200px;
	    margin: 0 auto;
	    padding: 0 15px;
	    box-sizing: border-box;
	    position: relative;
	}
	.mat-content .slick-list{
		padding: 0 !important;
	}
	.mat-content .item:first-child{
		margin-left: 0 !important;
	}
	.wr-mat-content .prev-click, .wr-mat-content .next-click{
		display: none;
	}
	.access {
		margin: 0 0% 70px;
		-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	    flex-wrap: wrap;
	}
	.access .item .item-title {
	    margin-bottom: 20px;
	    height: auto;
	}
	.access .item {
	    margin: 0 0 40px;
	    width: 100%;
	}
}

@media screen and (max-width:500px){
 	.audio-field .item {
	    -webkit-flex-direction: column-reverse;
	    -ms-flex-direction: column-reverse;
	    flex-direction: column-reverse;
 	}

 	.audio-field .item .text-area {
	    padding: 20px 15px;
	    margin-right: 0;
	    width: 100%;
	}
	.audio-field .item .short-img{
		width: 100%;
	}
	.audio-field {
	    border-top: none;
	    border-left: none;
	}
	.audio-field .item {
	    border-top: 1px solid #e5e5e5;
	    border-left: 1px solid #e5e5e5;
	    margin-bottom: 20px;
	}
 }



